body {
    background-image: url("Space\ Science\ Tech\ GIF\ by\ European\ Space\ Agency\ -\ ESA.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#SpaceX-Logo {
    width: 100px;
    height: 70px;
    object-fit: contain;
    display: block;
    margin: 30px auto;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.underline-txt{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

.apply-btn  {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: white;
    border-radius: 8spx;
    font-family: inherit;
}

.apply-btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}